<link rel="stylesheet" href="css/jquery-ui.min.css">
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript">
</script>
<h1>Profile</h1>
<form method="post" action="profile.html" id="form">
	<div class="form-group">
		<label for="exchanger">Username</label>
		<input type="text" class="form-control" disabled="" value="{{username}}"/>
	</div>
	<div class="form-group">
		<label for="exchanger">Telegram Bot Notification</label>
		{{#if activatebot}}
		<a href="{{activatebot}}" target="_blank" class="btn btn-outline-warning btn-sm">Activate</a>
		{{else}}
		<span class="badge badge-success">Activated</span>
		{{/if}}
		<input type="hidden" class="form-control" disabled="" value="{{username}}"/>
	</div>
	{{!-- <input type="submit" class="btn btn-primary" value="SEND"/> --}}
</form>
